@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
:root {
  --primary-offwhite: #FCFCFC;
  --primary-yellow: #FADF5F;
  --primary-blue: #306EF6;
  --primary-green: #94E044;
  --primary-darkgray: #262626;
}

body {
  background: var(--primary-color);
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .mobile-menu {
  vertical-align: middle;
  height: 1.5em;
  cursor: pointer;
  margin: auto 0em;
}

a {
  color: #262626;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero-image {
  background-image: url("/assets/agri-front-page.jpeg");
  background-color: var(--primary-offwhite);
  min-height: 500px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image .hero {
  text-align: none;
}

.hero-image .hero .container {
  -webkit-filter: drop-shadow(0.5em 0.7em 0.75em rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0.5em 0.7em 0.75em rgba(0, 0, 0, 0.16));
  margin-top: 13em;
  position: absolute;
  background-color: white;
  left: 0%;
  display: inline;
  width: -webkit-min-content;
  top: 20%;
  padding: 2em 1.3em;
  border-radius: 0 1.5em 1.5em 0;
}

.hero-image .hero .container .left-col {
  padding-left: 2em;
}

.hero-image .hero .container .left-col .subhead {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  box-sizing: content-box;
  background-color: white;
}

.hero-image .hero .container .left-col .subhead p {
  margin: 0;
}

.hero-image .hero .container .left-col .subhead .rot-words {
  overflow: hidden;
}

.hero-image .hero .container .left-col .subhead span {
  display: block;
  height: 100%;
  padding-left: .5em;
  -webkit-animation: spin_words 8s infinite;
          animation: spin_words 8s infinite;
  color: var(--primary-blue);
}

@-webkit-keyframes spin_words {
  10% {
    -webkit-transform: translateY(-106%);
            transform: translateY(-106%);
  }
  25% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  35% {
    -webkit-transform: translateY(-206%);
            transform: translateY(-206%);
  }
  50% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  60% {
    -webkit-transform: translateY(-306%);
            transform: translateY(-306%);
  }
  75% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  85% {
    -webkit-transform: translateY(-406%);
            transform: translateY(-406%);
  }
  100% {
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
  }
}

@keyframes spin_words {
  10% {
    -webkit-transform: translateY(-106%);
            transform: translateY(-106%);
  }
  25% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  35% {
    -webkit-transform: translateY(-206%);
            transform: translateY(-206%);
  }
  50% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  60% {
    -webkit-transform: translateY(-306%);
            transform: translateY(-306%);
  }
  75% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  85% {
    -webkit-transform: translateY(-406%);
            transform: translateY(-406%);
  }
  100% {
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
  }
}

.hero-image .hero .container .left-col h1 {
  margin: 0.1em 1em .35em 0em;
  font-size: 2.5em;
}

.hero-image .hero .container .left-col .primary-cta {
  background: var(--primary-blue);
  color: white;
  text-decoration: none;
  padding: .5em 1.2em;
  font-size: 1.4em;
  border-radius: 7em;
  font-weight: bold;
  display: inline-block;
}

.hero-image .hero .container .left-col .primary-cta:hover {
  outline: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  background: white;
}

.hero-image .hero .container .left-col .watch-video-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

.hero-image .hero .container .left-col .watch-video-cta img {
  margin-right: 1em;
  margin-left: .2em;
  height: 1em;
}

.mobile-section {
  background-color: var(--primary-offwhite);
}

footer .top-container {
  background-color: var(--primary-darkgray);
  color: var(--primary-offwhite);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding: 20px 100px;
}

footer .top-container .contact-info {
  line-height: 2em;
  font-size: 1em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

footer .top-container .contact-info a {
  font-size: 1em;
  color: white;
  text-decoration: none;
}

footer .top-container .footer-logo {
  height: 4em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

footer .top-container .social-medias {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .top-container .social-medias .facebook-icon {
  height: 2em;
}

footer .top-container .social-medias .instagram-icon {
  height: 2em;
}

footer .top-container .social-medias .youtube-icon {
  height: 1.5em;
}

footer .bottom-container {
  background-color: var(--primary-offwhite);
  color: var(--primary-darkgray);
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .bottom-container .copyright {
  margin: .5em 0em;
  font-size: 1em;
}

footer .bottom-container .made-by {
  margin: .5em 0em;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bottom-container .made-by .wave-container {
  padding: 0;
  margin: 0em 0em 0em .25em;
  position: relative;
  cursor: pointer;
}

footer .bottom-container .made-by .wave-container span {
  position: relative;
  display: inline-block;
  font-size: 1em;
  margin-right: -2.6px;
  -webkit-animation: flip 2s infinite;
          animation: flip 2s infinite;
  -webkit-animation-delay: calc(.2s * var(--i));
          animation-delay: calc(.2s * var(--i));
}

@-webkit-keyframes flip {
  0%, 80% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes flip {
  0%, 80% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 35%;
  right: 0;
  top: 0;
  background: var(--primary-darkgray);
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.5em;
  text-align: right;
}

nav li a:hover {
  font-weight: 600;
}

.mobile-menu-exit {
  float: right;
  margin: .9em .15em;
  cursor: pointer;
  height: 1.25em;
}

@media only screen and (min-width: 780px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar .container a {
    margin-left: 1.6em;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav ul.primary-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .75em;
    width: 110px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar nav ul.primary-nav li a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .hero-image {
    height: 100vh;
  }
  .hero-image .hero .container {
    width: auto;
    margin-top: 16em;
  }
  .hero-image .hero .container .left-col .watch-video-cta {
    margin-top: 0em;
  }
  .hero-image .hero .container .subhead {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 2em;
  }
  .hero-image .hero .container .subhead p {
    font-size: 1.3em;
  }
  .hero-image .hero .container .subhead span {
    padding-left: .5em;
    font-size: 1.3em;
    height: 1%;
  }
  @-webkit-keyframes spin_words {
    10% {
      -webkit-transform: translateY(-106%);
              transform: translateY(-106%);
    }
    25% {
      -webkit-transform: translateY(-105%);
              transform: translateY(-105%);
    }
    35% {
      -webkit-transform: translateY(-206%);
              transform: translateY(-206%);
    }
    50% {
      -webkit-transform: translateY(-205%);
              transform: translateY(-205%);
    }
    60% {
      -webkit-transform: translateY(-306%);
              transform: translateY(-306%);
    }
    75% {
      -webkit-transform: translateY(-305%);
              transform: translateY(-305%);
    }
    85% {
      -webkit-transform: translateY(-406%);
              transform: translateY(-406%);
    }
    100% {
      -webkit-transform: translateY(-405%);
              transform: translateY(-405%);
    }
  }
  @keyframes spin_words {
    10% {
      -webkit-transform: translateY(-106%);
              transform: translateY(-106%);
    }
    25% {
      -webkit-transform: translateY(-105%);
              transform: translateY(-105%);
    }
    35% {
      -webkit-transform: translateY(-206%);
              transform: translateY(-206%);
    }
    50% {
      -webkit-transform: translateY(-205%);
              transform: translateY(-205%);
    }
    60% {
      -webkit-transform: translateY(-306%);
              transform: translateY(-306%);
    }
    75% {
      -webkit-transform: translateY(-305%);
              transform: translateY(-305%);
    }
    85% {
      -webkit-transform: translateY(-406%);
              transform: translateY(-406%);
    }
    100% {
      -webkit-transform: translateY(-405%);
              transform: translateY(-405%);
    }
  }
  .hero-image .hero .container .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-image .hero .container .hero-cta .primary-cta {
    margin-right: 1em;
  }
  .mobile-section {
    display: none;
  }
}

@media only screen and (min-width: 1080px) {
  .cards-section .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cards-section .container ul a {
    display: block;
  }
  .cards-section .container ul li {
    width: 14em;
    margin: 1.5em auto 2em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards-section .container ul li img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .cards-section .container ul li p {
    margin-top: auto;
  }
}

.cards-section {
  background-color: var(--primary-offwhite);
}

.cards-section .container {
  display: block;
}

.cards-section .container li {
  padding: 1.5em 3.5em .75em 3.5em;
  background: var(--primary-offwhite);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2em;
  -webkit-box-shadow: -0.5em 0.7em 1em rgba(0, 0, 0, 0.16);
          box-shadow: -0.5em 0.7em 1em rgba(0, 0, 0, 0.16);
  width: 14em;
  margin: 0 auto 7em auto;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.164, 0.83, 0.43, 1);
  transition: all 0.5s cubic-bezier(0.164, 0.83, 0.43, 1);
}

.cards-section .container li h1 {
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  margin-top: 0em;
}

.cards-section .container li p {
  text-align: right;
  margin-top: auto;
  font-size: 1.1em;
}

.cards-section .container li .cards-image-special1 {
  width: 13em;
  height: 13em;
  margin-bottom: 1em;
}

.cards-section .container li .cards-image-special2 {
  width: 10em;
  height: 10em;
  margin: 1.5em;
}

.cards-section .container li .cards-image-special3 {
  width: 18em;
  height: 18em;
  margin: -1.5em;
}

.cards-section .container li::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -1em 1.4em 3em black;
          box-shadow: -1em 1.4em 3em black;
  -webkit-transition: all 0.5s cubic-bezier(0.164, 0.83, 0.43, 1);
  transition: all 0.5s cubic-bezier(0.164, 0.83, 0.43, 1);
}

.cards-section .container li:hover {
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.cards-section .container li:hover::after {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */