@font-face {
    font-family: helveticaNeue;
    src: url("../assets/HelveticaNeue-01.ttf") format("truetype");
}

@font-face {
    font-family: helveticaNeueBold;
    src: url("../assets/HelveticaNeue-Bold-02.ttf") format("truetype");
}

@font-face {
    font-family: helveticaNeueThin;
    src: url("../assets/HelveticaNeue-Light-08.ttf") format("truetype");
}

:root {
    --yellow: #E9C645;
    --green: #77B856;
    --blue: #2F6DF6;
    --red: #BF436C;
    --gray: #505050;
    --bold-font: helveticaNeueBold;
    --regular-font: helveticaNeue;
    --thin-font: helveticaNeueThin;

    --luca-fs: 38;
    --sub-luca-fs: 38;
    --category-fs: 38;
}

////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// DESCRIPTION //////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body {
    padding: 0;
    margin: 0;
}

p, h1, span {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 15px 50px;
    height: 15vh;
    box-sizing: border-box;

    .name {
        user-select:none;
        h1.luca {
            letter-spacing: 0;
            margin: 0;
            padding: 0;
            font-family: var(--bold-font);
            font-size: 34px;
            letter-spacing: 0.093em;

            span.L-letter {
                color: var(--yellow);
            }
            span.U-letter {
                color: var(--green);
            }
            span.C-letter {
                color: var(--blue);
            }
            span.A-letter {
                color: var(--red);
            }
            span.BORLETTI {
                font-family: var(--thin-font);
                font-size: var(--luca-fs);
                color: var(--gray);
            }
        }
    }
    #pound-symbol {
        height: 45px;
        width: auto;
    }
}

.main-content {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // align-items: center;
    // vertical-align: center;
    // flex-direction: column;
    svg#toolbelt {
        width: 50%;
        max-height: 85vh;
        height: auto;
    }
}


g, path {
    transition: all ease-in .7s;
}
#pencil_1, #pencil_2, #bp, #wrench, #hammer {
    transition: all ease-in .7s;
}

// #g_pencils:hover {
//     #g_pencil_1 {
//         transition: all ease-in .7s;
//         transform: translate(171.853px + 50px, 318.93px + -50px) rotate(5deg);
//     }
//     // #pencil_1 {
//     //     transition: all ease-in .7s;
//     //     transform: translate(50px, -50px);
//     // }
//     #g_pencil_2 {
//         transition: all ease-in .7s;
//         transform: translate(231.343px + 60px, 338.865px + -60px) rotate(10deg);
//     }
// }


.pencil_1_active {
    transition: all ease-in .7s;
    transform: translate(171.853px + 50px, 318.93px + -50px) rotate(5deg);
}
.pencil_2_active {
    transition: all ease-in .7s;
    transform: translate(231.343px + 60px, 338.865px + -60px) rotate(10deg);
}
.blueprint_active {
    transition: all ease-in .7s;
    transform: translate(493.038px + 0, 354.28px + -70px) rotate(-5deg);
}





////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// DEPRECATED ///////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

// .nameText {
//     font-family: Arial;
//     text-align:center;
//     font-size: 2.5em;
//     padding: 0;
//     margin: 0;
//     line-height: .35em;
// }

// .aboutText, .cmuText {
//     font-family: Arial;
//     text-align: center;
// }

// .cmuText {
//     color:red;
// }

// .profileImage {
//     width: 50px;
//     height: 50px;
//     border: 1 px solid black;
// }

// .background {
//     width: 100%;
//     height: 100%;
//     margin: 0;
// }

// .navBar {
//     width: 100%;
//     height: 50px;
//     margin: 0;
//     align-self:center;
// }

// .navBar > .element {
//     width: 32%;
//     line-height: 50px;
//     text-align: center;
//     color: black;
//     display: inline-block;
//     margin: 0;
//     font-family: Arial;
//     font-size: 1em;
//     text-decoration: none; 
// }

// .navBar > .element:hover { 
//     text-decoration: underline;
//     color: gray;
// }

// .navBar > .logo { 
//     float: left;
// }

// // @media only screen and (min-width: 780px) {

// // }