@font-face {
  font-family: helveticaNeue;
  src: url("../assets/HelveticaNeue-01.ttf") format("truetype");
}

@font-face {
  font-family: helveticaNeueBold;
  src: url("../assets/HelveticaNeue-Bold-02.ttf") format("truetype");
}

@font-face {
  font-family: helveticaNeueThin;
  src: url("../assets/HelveticaNeue-Light-08.ttf") format("truetype");
}

:root {
  --yellow: #E9C645;
  --green: #77B856;
  --blue: #2F6DF6;
  --red: #BF436C;
  --gray: #505050;
  --bold-font: helveticaNeueBold;
  --regular-font: helveticaNeue;
  --thin-font: helveticaNeueThin;
  --luca-fs: 38;
  --sub-luca-fs: 38;
  --category-fs: 38;
}

body {
  padding: 0;
  margin: 0;
}

p, h1, span {
  padding: 0;
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 50px;
  height: 15vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .name {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .name h1.luca {
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  font-family: var(--bold-font);
  font-size: 34px;
  letter-spacing: 0.093em;
}

.header .name h1.luca span.L-letter {
  color: var(--yellow);
}

.header .name h1.luca span.U-letter {
  color: var(--green);
}

.header .name h1.luca span.C-letter {
  color: var(--blue);
}

.header .name h1.luca span.A-letter {
  color: var(--red);
}

.header .name h1.luca span.BORLETTI {
  font-family: var(--thin-font);
  font-size: var(--luca-fs);
  color: var(--gray);
}

.header #pound-symbol {
  height: 45px;
  width: auto;
}

.main-content {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content svg#toolbelt {
  width: 50%;
  max-height: 85vh;
  height: auto;
}

g, path {
  -webkit-transition: all ease-in .7s;
  transition: all ease-in .7s;
}

#pencil_1, #pencil_2, #bp, #wrench, #hammer {
  -webkit-transition: all ease-in .7s;
  transition: all ease-in .7s;
}

.pencil_1_active {
  -webkit-transition: all ease-in .7s;
  transition: all ease-in .7s;
  -webkit-transform: translate(221.853px, 268.93px) rotate(5deg);
          transform: translate(221.853px, 268.93px) rotate(5deg);
}

.pencil_2_active {
  -webkit-transition: all ease-in .7s;
  transition: all ease-in .7s;
  -webkit-transform: translate(291.343px, 278.865px) rotate(10deg);
          transform: translate(291.343px, 278.865px) rotate(10deg);
}

.blueprint_active {
  -webkit-transition: all ease-in .7s;
  transition: all ease-in .7s;
  -webkit-transform: translate(493.038px, 284.28px) rotate(-5deg);
          transform: translate(493.038px, 284.28px) rotate(-5deg);
}
/*# sourceMappingURL=main.css.map */