@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --primary-offwhite: #FCFCFC;
    --primary-yellow: #FADF5F;
    --primary-blue: #306EF6;
    --primary-green: #94E044;
    --primary-darkgray: #262626;
    --full-padding: 60px;
}

////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// GLOBAL CLASSES ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body { //selector (name of elem or a class), 
    // also can have multiple
    background: var(--primary-color); //specify attributes
    // or properties
    // name: (colon) value; (semicolon)
    // if you want multiple values
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    z-index: 999;
    background: white;
    padding: 1em;
    position: sticky;
	top: 0;

    .logo {
        height: 3em;
        display: flex;
        // margin-left: 2em;
    }

    nav {
        display: none;
        // position: sticky;
    }
    

    .container {
        display: flex;
        place-content: space-between;
        

        .mobile-menu {
            vertical-align: middle;
            height: 1.5em;
            cursor: pointer;
            margin: auto 0em;
        }
    }
}

a {
    color: #262626;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hero-image {
    background-image: url("/assets/agri-front-page.jpeg");
    background-color: var(--primary-offwhite);
    min-height: 500px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    
    // margin-bottom: 1em;
    
    .hero {
        text-align: none;

        .container {
            filter: drop-shadow(.5em .7em .75em rgba(0, 0, 0, 0.16));
            margin-top: 13em; //mobile
            position: absolute;
            // background-color: var(--primary-offwhite);
            background-color: white;
            // width:fit-content;
            // left: 0;
            left: 0%;
            display:inline;
            width: -webkit-min-content;
            top: 20%;
            padding: 2em 1.3em 2em 0em;
            border-radius: 0 1.5em 1.5em 0;
    
            .left-col {
                padding-left: var(--full-padding);;
                .subhead {
                    p {
                        margin:0;
                    }
                    box-sizing: content-box;
                    height: 1.5em;
                    display: flex;
                    font-size: 1em;
                    // p {
                    // }
                    box-sizing: content-box;
                    // background-color: var(--primary-offwhite);
                    background-color: white;
                    // height: 1.5em
                    // padding:
                    // *,
                    // *:before,
                    // *:after{
                    .rot-words {
                        overflow: hidden;
                    }
                    span {
                        display: block;
                        height: 100%;
                        padding-left: .5em;
                        // border: 1px solid orange; 
                        animation: spin_words 8s infinite;
                        // font-weight: bold;
                        color: var(--primary-blue);
                    }
                    @keyframes spin_words {
                        10%{ 
                            transform: translateY(-106%); 
                        } 
                        25% {
                            transform: translateY(-100%); 
                        }
                        35%{ 
                            transform: translateY(-206%); 
                        } 
                        50% {
                            transform: translateY(-200%); 
                        }
                        60%{ 
                            transform: translateY(-306%); 
                        } 
                        75% {
                            transform: translateY(-300%); 
                        }
                        85%{ 
                            transform: translateY(-406%); 
                        } 
                        100% {
                            transform: translateY(-400%); 
                        }
                    }
                }
                h1 {
                    margin: 0.1em 1em .35em 0em;
                    font-size: 2.5em;
                }
                .primary-cta {
                    background: var(--primary-blue);
                    color: white;
                    text-decoration: none;
                    padding: .5em 1.2em;
                    font-size: 1.4em;
                    border-radius: 7em;
                    font-weight: bold;
                    display: inline-block;
                    // display: flex;
                    // border: 5px none var(--primary-blue);
                    // outline: 5px none var(--primary-blue);


                    &:hover {
                        // border: 5px solid var(--primary-blue);
                        outline: 1px solid var(--primary-blue);
                        color: var(--primary-blue);
                        // font-weight:200;
                        // border-width: thick;
                        background: white;

                    }
                }
                .watch-video-cta {
                    display: flex;
                    margin-top: 1em;
                    img {
                        margin-right: 1em;
                        margin-left:.2em;
                        height: 1em;
                    }
                }
            }
        }
    }
}

.mobile-section {
    // background-color: var(--primary-darkgray);
    background-color: var(--primary-offwhite);
    // height: 3em;
}

footer {
    // .container {
        .top-container {
            background-color: var(--primary-darkgray);
            color: var(--primary-offwhite);
            display: flex;
            // grid-template-columns: repeat(3, 1fr);

            justify-content: space-between;
            align-items: center;
            max-width: 100%;
            padding: 20px var(--full-padding);;
    
            .contact-info {
                line-height: 2em;
                font-size: 1em;
                flex: 0 0 200px;
                a {
                    font-size: 1em;
                    color: white;
                    text-decoration: none;
                }
            }
            
            .footer-logo {
                height: 4em;
                flex: 1 1 auto;
            }
    
            .social-medias {
                display:none;            
            }
    
    
        }
    
        .bottom-container {
            background-color: var(--primary-offwhite);
            color: var(--primary-darkgray);
            padding: 0 var(--full-padding);
            display: flex;
            justify-content: space-between;
            .copyright {
                // margin: .5em 100px;
                margin: .5em 0em;
                font-size: 1em;
            }
            .made-by {
                margin: .5em 0em;
                font-size: 1em;
                display: flex;

                .wave-container {
                    padding: 0;
                    margin: 0em 0em 0em .25em;
                    position: relative;
                    cursor:pointer;

                    span {
                        position: relative;
                        display: inline-block;
                        font-size: 1em;
                        margin-right: -2.6px;
                        // text-transform: uppercase;
                        animation: flip 2s infinite;
                        animation-delay: calc(.2s * var(--i));
                    }

                    @keyframes flip {
                        0%,80% {
                          transform: rotateY(360deg);
                        }
                    }
                }
                // span {
                //     // cool animation
                //     color: red;
                //     text-decoration: wavy;
                // }
            }
        }
    // }
}


nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 35%;
    right: 0;
    top: 0;
    // background: var(--primary-offwhite);
    background: var(--primary-darkgray);
    // background: black;
    height: 100vh;
    padding: 1em;
    ul.primary-nav {
        margin-top: 5em;
    }
    li {
        a {
            // color: var(--primary-darkgray);
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.5em;
            text-align: right;


            &:hover {
                font-weight:600;
            }
        }
    }
}

.mobile-menu-exit {
    float: right; 
    margin: .9em .15em;
    cursor: pointer;
    height: 1.25em;
}


////////////////////////////////////////////////////////////////////////////////
/////////////////////////// CHANGING TO 780 VIEWPORT ///////////////////////////
////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 780px) {
    .mobile-menu, .mobile-menu-exit {
        display:none;
    }
    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        // place-content: unset;
        a {
            margin-left: 1.6em;
        }
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        // ul {
        //     display: flex;
        // }
        
        
        ul.primary-nav {
            margin: 0;
            display: flex;
            li {
                // vertical-align: middle;
                display: flex;
                margin-top: .75em;
                width: 110px;
                justify-content:center;
                a {
                    // text-align: center;
                    color: black;
                    font-size: 1em;
                    padding: .1em 1em;
                }
            }
        }

        // li.current a {
            
            // }
            
        }
    .hero-image {
        height: 100vh;
        .hero .container {
            width: auto;
            margin-top: 16em;
            
            .left-col .watch-video-cta {
                margin-top: 0em;
            }

            .subhead {
                box-sizing: content-box;
                height: 2em;
                p {
                    font-size: 1.3em;
                }
                // margin-bottom: 1em;
                span {
                    padding-left: .5em;
                    font-size: 1.3em;
                    height: 1%;
                    // width: 1000em;
                }
                @keyframes spin_words {
                    10%{ 
                        transform: translateY(-106%); 
                    } 
                    25% {
                        transform: translateY(-105%); 
                    }
                    35%{ 
                        transform: translateY(-206%); 
                    } 
                    50% {
                        transform: translateY(-205%); 
                    }
                    60%{ 
                        transform: translateY(-306%); 
                    } 
                    75% {
                        transform: translateY(-305%); 
                    }
                    85%{ 
                        transform: translateY(-406%); 
                    } 
                    100% {
                        transform: translateY(-405%); 
                    }
                }
            }
            
            .hero-cta {
                display: flex;
                align-items: center;
                .primary-cta {
                    margin-right: 1em;
                }
            }
        }
    }

    .mobile-section {
        display: none;
    }
}

////////////////////////////////////////////////////////////////////////////////
/////////////////////////// CHANGING TO 1080 VIEWPORT //////////////////////////
////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 1080px) {
    .cards-section .container {
        ul {
            display: flex;
            li {
                width: 14em;
                margin: 1.5em auto 2em auto;
                display: flex;
                flex-direction: column;
                // display: inline;
                // position: relative;
                // text-align: end;
                // justify-content: center;
                // align-items: center;
                img {
                    // justify-content: center;
                    // margin-bottom: 2em;
                    align-self:center;
                }
                p {
                    // display:block;
                    // position:absolute;
                    // bottom:0;
                    margin-top: auto;
                }
            }
        }
    }

    footer {
            .top-container {
                // grid-template-columns: repeat(3, 1fr);
    
                justify-content: space-between;
                align-items: center;
        
                .contact-info {
                    line-height: 1.5em;
                    font-size: 1em;
                    flex: 0 0 200px;
                    a {
                        font-size: 1em;
                        color: white;
                        text-decoration: none;
                    }
                }
                
                .footer-logo {
                    height: 4em;
                    flex: 1 1 auto;
                }
        
                .social-medias {
                    flex: 0 0 200px;
    
                    display: flex;
        
                    justify-content: space-between;
    
                    align-items: center;
    
                    .facebook-icon {
                        max-height: 3em;
                    }
                    .instagram-icon {
                        max-height: 3em;
                    }
                    .youtube-icon {
                        max-height: 2.25em;
                    }
        
                    
                }
        
        
            }
    }
}


////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// HOME PAGE CLASSES //////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.cards-section {
    background-color: var(--primary-offwhite);
    .container {
        display:block;
        li {
            // display:inline-block;
            padding: 1.5em 3.5em .75em 3.5em;
            background: var(--primary-offwhite);
            // text-align: center;
            // width: 1em;

            display: flex;
            flex-direction: column;
            h1 {
                // text-align: center;

                text-align:center;
                font-weight: 500;
                font-size: 2em;
                margin-top: 0em;
            }
            p {
                text-align:right;
                margin-top: auto;
                font-size: 1.1em;

                // vertical-align: bottom;
                // margin-top: 1.2em;
                // align-self: flex-end;
                // text-align: end;
                // bottom: 0;
                // position: ;
                // bottom: 0;              
            }
            border-radius: 2em;
            // box-shadow: #262626;
            // filter: drop-shadow(-.5em .7em .75em rgba(0, 0, 0, 0.16));

            box-shadow: -.5em .7em 1em rgba(0, 0, 0, 0.16);
            // margin: 0 3em 7em 3em;

            width: 14em;
            margin: 0 auto 7em auto;
            
            // img {
            //     width: 13em;
            //     height: 13em;
            // }

            .cards-image-special1 { //mobile
                width: 13em;
                height: 13em;
                margin-bottom: 1em;
                // margin-left: -2em;
            }
            .cards-image-special2 { //mobile
                width: 10em;
                height: 10em;
                margin: 1.5em;
                // margin-left: -2em;
            }
            .cards-image-special3 { //mobile
                width: 18em;
                height: 18em;
                margin: -1.5em;
            }
            // .page-card {
            // }

            cursor: pointer;

            -webkit-transition: all 0.5s cubic-bezier(0.164, 0.83, 0.43, 1);
            transition: all 0.5s cubic-bezier(0.164, 0.83, 0.43, 1);

        }
        li::after {
            position: absolute;
            z-index: -1;
            opacity: 0;
            width: 100%;
            height: 100%;
            box-shadow: -1em 1.4em 3em rgba(0, 0, 0, 1);
        
            -webkit-transition: all 0.5s cubic-bezier(0.164, 0.83, 0.43, 1);
            transition: all 0.5s cubic-bezier(0.164, 0.83, 0.43, 1);
        }

        li:hover {
            -webkit-transform: scale(1.03, 1.03);
            transform: scale(1.03, 1.03);
        }
          
        li:hover::after {
            opacity: 1;
        }

    }
}


////////////////////////////////////////////////////////////////////////////////
///////////////////////////// SERVICE PAGE CLASSES /////////////////////////////
////////////////////////////////////////////////////////////////////////////////

#what-section {
    background-color: var(--primary-darkgray);
    color: var(--primary-offwhite);
    .what-header-container {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
            font-weight: 600;
            font-size: 3em;
            margin: 0 0 .5em 0;
            padding: 0;
        }
        p {
            font-weight: 300;
            font-size: 2em;
            margin: 0;
            padding: 0;
        }
    }
}

#approach-section {
    background-color: var(--primary-darkgray);
    color: var(--primary-offwhite);
    .approach-header-container {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
            font-weight: 600;
            font-size: 3em;
            margin: 0 0 .5em 0;
            padding: 0;
        }
        p {
            font-weight: 300;
            font-size: 2em;
            margin: 0;
            padding: 0;
        }
    }
    .approach-facets {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // align-self: none;
        padding: 5em var(--full-padding) 0em var(--full-padding);
        .facet {
            font-weight: 500;
            font-size: 2em;
            margin: 0;
            padding: 0;
        }
    }
}

.left-info-pic-section, .right-info-pic-section, .increasing-crop-yield,
.maximizing-solar, .boosting-savings  {
    .info-pic-container {
        display: flex;
        justify-content: space-between;
        padding: 0em var(--full-padding);
        align-items: center;
        text-align: left;
        .text-col {
            h1 {
                font-weight: 400;
                font-size: 3em;
                margin: 0 0 .5em 0;
                padding: 0;
            }
            p {
                font-weight: 300;
                font-size: 2em;
                margin: 0;
                padding: 0;
            }
        }

        // img {
        //     height: 
        // }
    }
}

.right-info-pic-section, .maximizing-solar {
    .info-pic-container {
        text-align: right;
    }
}



.increasing-crop-yield, .maximizing-solar  {
    .info-pic-container {
        .text-col {
            p {
                font-size: 1.5em;
            }
        }
    }
}


.approach-section {
    background-color: var(--primary-darkgray);
    color: var(--primary-offwhite);
    #approach-header-container {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
            font-weight: 700;
        }
    }
}


////////////////////////////////////////////////////////////////////////////////
/////////////////////////// PARTNERING PAGE CLASSES ////////////////////////////
////////////////////////////////////////////////////////////////////////////////




////////////////////////////////////////////////////////////////////////////////
////////////////////////////// TEAM PAGE CLASSES ///////////////////////////////
////////////////////////////////////////////////////////////////////////////////



